<div>
  <img src={{singleWine.image}} alt="wine" />
</div>
<h2>
  {{singleWine.wine}}
</h2>
<p>
  {{singleWine.winery}}
</p>
<p>
  {{singleWine.about}}
</p>
<p>
  {{singleWine.origin}}
</p>
<p>
  {{singleWine.rating}}
</p>