{{#each wines}}
  <div>
    <img src={{image}} alt="wine" />
  </div>
  <h2>
    {{wine}}
  </h2>
  <p>
    <b>Winery:</b>
    {{winery}}
  </p>
  <p>
    <b>Description:</b>
    {{about}}
  </p>
  <p>
    <b>Origin:</b>
    {{origin}}
  </p>
  <p>
    <b>Rating:</b>
    {{rating}}
  </p>
{{/each}}