{{#each wines}}
  <div class="wine-container">
    <a href="/wines/{{wine}}">
      <img class="wine-image" src={{image}} alt="wine" />
      <h2>{{wine}}</h2>
    </a>
  </div>
  <!--<p>
    <b>Winery:</b>
    {{winery}}
  </p>
  <p>
    <b>Description:</b>
    {{about}}
  </p>
  <p>
    <b>Origin:</b>
    {{origin}}
  </p>
  <p>
    <b>Rating:</b>
    {{rating}}
  </p>-->

{{/each}}