{{#each wines}}
  <div>
    <img src={{image_url}} alt="wine" />
  </div>
  <h2>
    {{wine}}
  </h2>
  <p>
    {{winery}}
  </p>
  <p>
    {{about}}
  </p>
  <p>
    {{origin}}
  </p>
  <p>
    {{rating}}
  </p>
{{/each}}